NEXT_PUBLIC_SITE_URL=https://workingwomanreport.com
NEXT_PUBLIC_YOUTUBE_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_TIKTOK_URL=
ENABLE_STUDIO=false
NEWSLETTER_PROVIDER=
ANALYTICS_PROVIDER=
LEGACY_SITE_URL=https://workingwomanreport.com
YOUTUBE_CLIENT_ID=
INSTAGRAM_APP_ID=
FACEBOOK_APP_ID=
TIKTOK_CLIENT_KEY=
X_API_KEY=
